@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  background-color: rgba(132, 135, 141, 0.24);
  margin: 0 5px;
  font-size: 13px;
  padding: 2px 3px;
  border-radius: 3px;
  color: #d7760ee8;
}